* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(26, 26, 26, 1);
  width: 100%;
}
button {
  justify-content: right;
  background-color: rgba(0, 163, 0, 1);
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}
.container {
  display: flex;
  margin-top: 120px;
}
.todos {
  width: 20%;
  height: 672px;
  color: #ffffff;
  background-color: rgba(16, 16, 16, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  gap: 10px;
  margin: 0 auto 0 auto;
}
#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(26, 26, 26, 0.7);
  z-index: 3;
  display: none;
}
.modal-open {
  display: block;
}
.modal-content {
  background-color: #1e1e1e;
  margin: 20%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 12px;
  color: rgba(255, 255, 255, 1);
}

.modal-content > input {
  padding: 6px;
}
